@model ChangeCountryViewModel
@{
    ViewData["Title"] = "Change Country";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Profile" asp-action="ChangeCountry" method="post" class="form-horizontal">
    <h4>Change Country Form</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <dl class="dl-horizontal">
        <dt>Money:</dt>
        <dd>
            @Model.Money @Model.Country.CurrencyCode
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Travel cost:</dt>
        <dd>
            @Model.CountryChangeCost @Model.Country.CurrencyCode
            @Html.HiddenFor(x => x.CountryChangeCost)
        </dd>
    </dl>
    <div class="form-group">
        <label asp-for="CountryId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="CountryId"
                    asp-items="@(new SelectList(@Model.CountryList, "Id", "Name"))"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change country</button>
            <input type="button" class="btn btn-default" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
