@model Citizen.Models.CitizenViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Your profile";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>
            @Model.Name
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Energy:</dt>
        <dd>
            [ @Model.Energy / @Model.EnergyMax ] (@Model.EnergyRestore can be restored)
        </dd>
        <dd>
            <a asp-controller="Profile" asp-action="Eat" class="btn-bracketed">Eat</a>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Money:</dt>
        <dd>
            @Model.Money @Model.Country.CurrencyCode
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Country:</dt>
        <dd>
            @Model.Country.Name
        </dd>
        <dd>
            <a asp-controller="Profile" asp-action="ChangeCountry" class="btn-bracketed">Change</a>
        </dd>
    </dl>
</div>
