@model Citizen.Models.CitizenViewModels.UserStorageViewModel
@{
    ViewData["Title"] = "Your storage";
    var capacityUsePercent = (int)(((double)@Model.CapacityUsed / (double)@Model.Capacity) * 100);

    var usageBarColor = "progress-bar-success";
    if (capacityUsePercent > 60)
    {
        usageBarColor = "progress-bar-warning";
    }
    if (capacityUsePercent > 80)
    {
        usageBarColor = "progress-bar-danger";
    }
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <div class="row">
        <div class="well well-sm col-lg-6 col-lg-offset-3 text-center">
            <div class="col-sm-6">
                <img src="@Url.Content("~/images/Energy.png")" height="48" width="48" alt="energy"/>
                @Model.Energy
            </div>
            <div class="col-sm-6">
                <img src="@Url.Content("~/images/Money.png")" height="48" width="48" alt="money"/>
                @Model.Money @Model.Country.CurrencyCode
            </div>
        </div>
    </div>
    <hr />
    <div style="width: 100%; margin: auto">
        <div class="progress">
            <div class="progress-bar @usageBarColor" role="progressbar" style="width: @capacityUsePercent%">
                <span>@Model.CapacityUsed / @Model.Capacity</span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <div class="well well-sm text-center">
                <h4>Food</h4>
                <hr/>
                <img src="@Url.Content("~/images/Food.png")" height="64" width="64" alt="food"/>
                <hr/>
                <div class="well well-sm">
                    @Model.Food
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well well-sm text-center">
                <h4>Grain</h4>
                <hr/>
                <img src="@Url.Content("~/images/Grain.png")" height="64" width="64" alt="grain"/>
                <hr/>
                <div class="well well-sm">
                    @Model.Grain
                </div>
            </div>
        </div>
    </div>
</div>
