@model Citizen.Models.CitizenViewModels.UserStorageViewModel
@{
    ViewData["Title"] = "Your storage";
    var capacityUsePercent = (int)(((double)@Model.CapacityUsed / (double)@Model.Capacity) * 100);
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Money:</dt>
        <dd>
            @Model.Money @Model.Country.CurrencyCode
        </dd>
    </dl>
    <hr />
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:@capacityUsePercent%"></div>
        <div class="text-center">@Model.CapacityUsed / @Model.Capacity</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <div class="well well-sm text-center">
                <h4>Food</h4>
                <hr/>
                <img src="@Url.Content("~/images/Food.png")" height="64" width="64" alt="food"/>
                <hr/>
                <div class="well well-sm">
                    @Model.Food
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well well-sm text-center">
                <h4>Grain</h4>
                <hr/>
                <img src="@Url.Content("~/images/Grain.png")" height="64" width="64" alt="grain"/>
                <hr/>
                <div class="well well-sm">
                    @Model.Grain
                </div>
            </div>
        </div>
    </div>
</div>
