@model Employment

@{
    ViewData["Title"] = "Your job";
}

<h2>Your job</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
@{
    if (Model == null)
    {
        <div>You do not have a job. <a asp-action="JobOffers">Get one now.</a></div>
    }
    else
    {
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Company.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Company.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Company.Owner.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Company.Owner.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Company.Product)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Company.Product)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
        </dl>
        <a asp-action="Work" class="btn btn-success">Work</a>
        <a asp-action="JobResign" asp-route-id="@Model.Id" class="btn btn-danger">Resign</a>
    </div>
    }
}

